
/*文字在一行内的省略号*/
.textOverflow1 {
    text-overflow: ellipsis;
    /*超出部分显示...*/
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
}


/*文字在二行内的省略号*/

.textOverflow2 {
    text-overflow: ellipsis;
    /*超出部分显示...*/
    overflow: hidden;
    /*超出部分隐藏*/
    display: -webkit-box;
    /*设置为伸缩盒子*/
    -webkit-line-clamp: 2;
    /*这是要显示的行数*/
    -webkit-box-orient: vertical;
    /*设置排版方向为从上到下*/
}


/*文字在三行内的省略号*/

.textOverflow2 {
    text-overflow: ellipsis;
    /*超出部分显示...*/
    overflow: hidden;
    /*超出部分隐藏*/
    display: -webkit-box;
    /*设置为伸缩盒子*/
    -webkit-line-clamp: 3;
    /*这是要显示的行数*/
    -webkit-box-orient: vertical;
    /*设置排版方向为从上到下*/
}


/*浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*清除浮动*/

.clearfix::after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.clearfix {
    zoom: 1;
    /*兼容ie*/
}


/*水平垂直居中*/

.Tcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
// 扩展点击区域
.extend-click {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }  
}
  