// 定义颜色， 字体大小
$color-background: #d43c33;
$color-theme: #d33a31;
$color-text: #333;
$color-text-d: #888;
$color-text-6: #666;

$font-size-small: 12px;
$font-size-small-3: 13px;
$font-size-text: 14px;
$font-size-theme: 16px;